attrs
black
bleach
boto3
botocore
cerberus-python-client
certifi
charset-normalizer
click
colorama
dataclasses
distlib
docutils
filelock
flake8
idna
importlib-metadata
importlib-resources
iniconfig
jmespath
keyring
mccabe
more-itertools
mypy
mypy-extensions
packaging
pathspec
pkginfo
platformdirs
pluggy
py
pycodestyle
pyflakes
pygments
pyparsing
pytest
python-dateutil
readme-renderer
requests
requests-toolbelt
rfc3986
s3transfer
setuptools
six
toml
tomli
tomli-w
tox
tqdm
twine
typed-ast
typing-extensions
urllib3
virtualenv
webencodings
wheel
zipp
